$roboto-font: "Roboto", sans-serif;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktopxl: 1440px;


//Colores

$text-color: #424241;
$subtext-color: #9E9D9B;
$text-size: 18px;
$important-text-size: 24px;
$title-text-size: 80px;