.container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 6px;
    padding-right: 16px;
    position: relative;
}

.container::before{
    content: "";
    width: 380px;
    height: 640px;
    top: 100px;
    left: 550px;
    z-index: -1;
    background-image: url(../img/edificio1.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.container::after{
    content: "";
    width: 380px;
    height: 640px;
    top: 100px;
    left: 1000px;
    z-index: -1;
    background-image: url(../img/edificio2.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.information::before{
    content: "";
    width: 870px;
    height: 161px;
    top: 820px;
    left: 450px;
    z-index: -3;
    background-color: #f1e7e7;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.hero::before{
    content: "";
    width: 270px;
    height: 101px;
    top: 15%;
    left: 13%;
    z-index: -3;
    background-color: #f1e7e7;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}