nav.nav_primary {
    ul {
        @include reset-list;
        gap: 56px;
        a {
            font-weight: 400;
            color: $subtext-color;
            font-size: 18px;
            text-decoration: none;
            font-family: "Poppins";
            &:hover{
                text-decoration: underline;
            }
        } 
        .active {
            color: $text-color;
        }
    }
}

